.products {
  margin: 20px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.products__single {
  padding: 10px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.products__single > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pagination{
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.pagination > span{
  padding: 15px 20px;
  border: 3px solid grey;
  cursor: pointer;
 
}

.pagination__selected{
  background-color: rgb(220, 220, 220);
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .products__single {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .products__single > img {
    height: 40vh;
  }
}
