.container{
  width: 90%;
  height: 80vh;
  background-color: red;
  margin: auto;
}

.card{
  position : absolute;
  width:50%;
  height: 50vh;
  background-color: green;
  margin: 80px 90px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}