.container{
  width: 50%;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  border-radius: 10px;
  margin: auto;
  gap: 30px;
}

.card{
  width:50%;
  height: 50vh;
  background-color: green;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button{
  border-radius: 5px;
  margin: 8px;
  border: none;
  box-shadow: 2px 2px 4px rgba(247, 29, 29, 0.833);
  padding: 10px;
}
