/* Default styles */
.container {
  width: 80%;
  height: 80vh; /* Use 100vh for full viewport height */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  border-radius: 10px;
  margin: auto;
  gap: 30px;
  padding: 0 20px;
}

.card {
  width: 30%;
  height: 50vh; /* Use 100vh for full viewport height */
  background-color: green;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

button {
  border-radius: 5px;
  margin: 8px;
  border: none;
  box-shadow: 2px 2px 4px rgba(247, 29, 29, 0.833);
  padding: 10px;
}

/* Media query for smaller screens (specifically for 430x932) */
@media (max-width: 430px) and (max-height: 932px) {
  .container {
      padding: 0 10px;
  }

  .card {
      padding: 10px;
  }

  button {
      padding: 8px;
  }
}
