.container{
  width: 60%;
  padding: 2em;
  box-shadow:2px 2px 2px 1px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

